<!DOCTYPE html>
<html>
  <head>
    <title>Marketplace</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  	<p class="notice"><%= notice %></p>
  	<p class="alert"><%= alert %></p>
    <%= nav_bar brand: "..:MARKETPLACE:..", brand_link: root_path, fixed: :top, responsive: true do %>
      <%= menu_group do %>
        <% if user_signed_in? %>
          <%= menu_item "Novo Produto", new_produto_path %>
          <%= menu_item "Nova Loja", new_loja_path %>
          <%= menu_item "Sair", destroy_user_session_path, method: :delete %>
        <% else %>
            <%= menu_item "Entrar", new_user_session_path %>
            <%= menu_item "Cadastrar", new_user_registration_path %>
        <% end %>
      <% end %>
    <% end %>
    <%= yield %>
  </body>
</html>
