<%- model_class = Produto -%>

<!-- GRID -->
<div class="container">
  <div class="row">
    <% if @produtos.count > 0 %>
      <% @produtos.each do |produto| %>
        <div class="col-md-3">
          <div class="card">
            <% if produto.imagem.length >0 %>
              <img 
                class="card-img-top produto-id-<%=produto.id %> d-flex justify-content-between" 
                style="width: 140px; margin-top: 5px;"  
                src="<%= produto.imagem  %>" 
                alt="Card image cap"
              >
            <% else %>
              <img 
                class="card-img-top produto-id-<%=produto.id %> d-flex justify-content-between" 
                style="width: 140px; margin-top: 5px;"  
                src="http://monzeiros.com.br/forum/download/file.php?avatar=26544_1464791396.jpg" 
                alt="Card image cap"
              >
            <% end %>
            <div class="card-block">
              <h6 class="card-title" style="font-weight: bold;"><%=produto.nome.truncate_words(2, omission: '') %></h6>
              <p class="card-text"><%=produto.preco %></p>
              <a href="<%=produto.url %>" class="btn btn-primary btn-block">More</a>
            </div>
          </div>
        </div>
      <% end %>    
    <% else %>
      <p>Não existem produtos cadastrados...</p>
    <% end %>
  </div>
</div>
